.blobber-back{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 30px;
  height: 60px;
  left: 0px;
  top: 0px;
  background-color: lightblue;
  border-radius: 10px;
  position: absolute;
}
.blobber-eye{
  margin-top: 5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: black;
}
.block{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
}
.block-contain{
  position: absolute;
  left: 100;
  top: 100;

}
