.blobber-real{
  position: absolute;
  width: 34px;
  height: 64px;
  border-radius: 10px;
}
.blobber-back{
  display: flex;
  justify-content: center;
  width: 30px;
  height: 60px;
  left: 0px;
  top: 0px;
  background-color: lightblue;
  border-radius: 10px;
}
.blobber-eye{
  margin-top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  border: solid 2px black;
}
.block{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
}
.block-contain{
  position: absolute;
}
.endbar{
  position: absolute;
  right: 0;
  height: 100vh;
  width: 20px;
  background-color: green;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
