.title{
  color: red;
}
body{
  font-family: consolas;
  background-color: aquamarine;
}

a{
  display: inline-block;
  border: solid 5px black;
  width: 45px;
  height:45px;
  background-color:blue;
  color: red;
  animation: float 2s infinite;
}
a:hover{
  background-color: green;
  width: 45px;
  height: 45px;
}

@keyframes float{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(20px);
  }
  100%{
transform: translateY(0)
  }
}
